@import url('https://fonts.googleapis.com/css?family=Rubik');

$white: #FFFFFF;
$greenish: #60D394;
$box-shadow-color: #BAC1B8;
$orange: rgb(245, 149, 4);
$lightgrey: #c5c5c5;
$bg-color: $white;
$bluish: #216ba5;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#journalEditor {
  border: none;
  font-family: Rubik;
  padding: 10px 0 0 0;
}

#header {
  background-color: $orange;
  width: 100vw;
  height: 50px;
  font-family: 'Rubik', sans-serif;
  color: $white;
  text-align: center;
  font-size: 40px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  text-shadow: 0px 1px 1px $lightgrey;
}

#mainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

#newTodoInput {
  border:none;
  padding: 5px;
  margin: 1vw;
  width: 20vw;
  height: 30px;
  font-size: 15px;
  outline: none;
  //TODO change the color and width etc.
  -webkit-box-shadow: 0px 0px 2px 0px $box-shadow-color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 2px 0px $box-shadow-color;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 2px 0px $box-shadow-color; /*opera */
}

#newTodoInput:focus {
  //TODO change the color to a darker shade of whatever is set up above without focus and width etc.
  -webkit-box-shadow: 0px 0px 5px 0px $box-shadow-color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 5px 0px $box-shadow-color;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 5px 0px $box-shadow-color; /*opera */
}

#newTodoInputWrapper {
  // width: 70%;
  // margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#newMilestoneTextInput {
  border:none;
  padding: 5px;
  margin: 1vw;
  width: 13vw;
  height: 30px;
  font-size: 15px;
  outline: none;
  //TODO change the color and width etc.
  -webkit-box-shadow: 0px 0px 2px 0px $box-shadow-color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 2px 0px $box-shadow-color;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 2px 0px $box-shadow-color; /*opera */
}

#newMilestoneTextInput:focus {
  -webkit-box-shadow: 0px 0px 5px 0px $box-shadow-color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 5px 0px $box-shadow-color;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 5px 0px $box-shadow-color; /*opera */
}

#journal {
  width: 40vw;
  margin: 1vw;

  -webkit-box-shadow: 0px 2px 4px 0px $box-shadow-color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 2px 4px 0px $box-shadow-color;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 2px 4px 0px $box-shadow-color; /*opera */

  overflow: auto;
}

#todoBox {
  width: 27vw;
  margin: 1vw;
  height: auto;

  -webkit-box-shadow: 0px 2px 4px 0px $box-shadow-color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 2px 4px 0px $box-shadow-color;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 2px 4px 0px $box-shadow-color; /*opera */


}

#goalBox {
  padding: 10px;
  -webkit-box-shadow: 0px 2px 4px 0px $box-shadow-color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 2px 4px 0px $box-shadow-color;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 2px 4px 0px $box-shadow-color; /*opera */
}

#milestoneBox {
  padding: 10px;
  -webkit-box-shadow: 0px 2px 4px 0px $box-shadow-color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 2px 4px 0px $box-shadow-color;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 2px 4px 0px $box-shadow-color; /*opera */
}

body {
  background-color: $bg-color;
  margin: 0;
}

.button-group-todo {
  float: right;
  display: inline-flex;
  align-items: center;
  padding: 5px;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.datePicker {
  border: none;
  margin: 10px 0px 10px 0px;
  padding: 5px 0px 5px 0px;
  outline: none;
  height: 30px;
  width: 6vw;
  //TODO change the color and width etc.
  -webkit-box-shadow: 0px 0px 2px 0px $box-shadow-color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 2px 0px $box-shadow-color;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 2px 0px $box-shadow-color; /*opera */
  text-align: center;
  font-family: 'Rubik';
  cursor: pointer;
}

.doneText {
  color: $greenish;
  border-radius: 6px;
  font-size: 15px;
  padding: 2px 4px 2px 4px;
  margin-left: 4px;
  font-family: 'Rubik', sans-serif;
}

.goalsWrapper {
  width: 27vw;
  margin: 1vw;
  height: auto;

  -webkit-box-shadow: 0px 2px 4px 0px $box-shadow-color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 2px 4px 0px $box-shadow-color;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 2px 4px 0px $box-shadow-color; /*opera */
}

.complete-text {
  text-decoration: line-through;
}

.milestonesWrapper {
  width: 27vw;
  margin: 1vw;
  height: auto;

  -webkit-box-shadow: 0px 2px 4px 0px $box-shadow-color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 2px 4px 0px $box-shadow-color;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 2px 4px 0px $box-shadow-color; /*opera */
}

.goalContainer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
}

.goalType {
  font-size: 15px;
  width: auto;
  display: inline-block;
  padding: 0px 2px 0px 2px;
  display: flex;
  align-items: center;
  color: $bluish;
}

.goalInput {
  border: none;
  outline: none;
  //TODO change the color and width etc.
  -webkit-box-shadow: 0px 1px 2px 0px $box-shadow-color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 1px 2px 0px $box-shadow-color;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 1px 0px 0px $box-shadow-color; /*opera */
  font-family: 'Rubik';
  font-size: 15px;
  padding: 5px;
  width: 19vw;
  outline: none;
  display: inline-block;
}

.journalTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.justForFont {
  font-family: 'Rubik', sans-serif;
}

.label {
  border-radius: 10px;
  font-size: 9px;
  background-color: #EEEEEE;
  width: auto;
  display: inline-block;
  padding: 2px;
}

.milestoneInputArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.milestoneDate {
  font-family: 'Rubik', sans-serif;
  color: $bluish;
  font-size: 10px;
}

.milestoneItem {
  // margin: 1vw;
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.milestoneTextInput {
  font-family: 'Rubik';
  font-size: 15px;
  word-wrap: break-word;
  border: none;
  outline: none;
  // TODO add box shadow here
  width: 70%;
  resize: none;
  display: inline-flex;
  align-items: center;
  min-height: 30px;
}

.milestoneTextInput:focus {
  -webkit-box-shadow: 0px 1px 2px 0px $box-shadow-color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 1px 2px 0px $box-shadow-color;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 1px 0px 0px $box-shadow-color; /*opera */
}

.panelHeader {
  width: 100%;
  background-color: $lightgrey;
  color: $white;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

//haha, whats this?
.ql-toolbar.ql-snow {
  border: none;
  //TODO change the color and width etc.
  -webkit-box-shadow: 0px 2px 4px 0px $box-shadow-color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 2px 4px 0px $box-shadow-color;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 2px 4px 0px $box-shadow-color; /*opera */
}

.incomplete-text {
  color: black;
}

.smallFont {
  font-size: 0.8em;
}

.standard-add-button {
  // background-color: $greenish;
  // -webkit-border-radius: 10;
  // -moz-border-radius: 10;
  // border-radius: 10px;
  // -webkit-box-shadow: 0px 0px 3px 0px #666666;
  // -moz-box-shadow: 0px 0px 3px 0px #666666;
  // box-shadow: 0px 0px 3px 0px #666666;
  // font-family: Rubik;
  // color: $white;
  // cursor: pointer;
  // font-size: 15px;
  // height: 30px;
  // border: 0;
  // margin: 0 1.3vw 0 0;
  // text-decoration: none;
  // display: flex;
  // align-items: center;
  // outline: none;

  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 2px 0px darkgrey;
  font-family: Rubik;
  color: black;
  cursor: pointer;
  font-size: 13px;
  height: 30px;
  border: 0;
  margin: 0 1.3vw 0 0;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  outline: none;

}

.standard-add-button:hover {
  -webkit-box-shadow: 1px 1px 4px 0px darkgrey;
  -moz-box-shadow: 1px 1px 4px 0px darkgrey;
  box-shadow: 1px 1px 4px 0px darkgrey;
  text-decoration: none;
}

.standard-add-button-milestone {
  // background-color: $greenish;
  // -webkit-border-radius: 10;
  // -moz-border-radius: 10;
  // border-radius: 10px;
  // -webkit-box-shadow: 0px 0px 3px 0px #666666;
  // -moz-box-shadow: 0px 0px 3px 0px #666666;
  // box-shadow: 0px 0px 3px 0px #666666;
  // font-family: Rubik;
  // color: $white;
  // cursor: pointer;
  // font-size: 15px;
  // height: 30px;
  // border: 0;
  // margin: 0 1.3vw 0 0;
  // text-decoration: none;
  // display: flex;
  // align-items: center;
  // outline: none;

  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 2px 0px darkgrey;
  font-family: Rubik;
  color: black;
  cursor: pointer;
  font-size: 13px;
  height: 30px;
  border: 0;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  outline: none;
}

.standard-add-button-milestone:hover {
  -webkit-box-shadow: 1px 1px 4px 0px darkgrey;
  -moz-box-shadow: 1px 1px 4px 0px darkgrey;
  box-shadow: 1px 1px 4px 0px darkgrey;
  text-decoration: none;
}


.standard-delete-button {
  // -webkit-box-shadow: 0px 0px 3px 0px #666666;
  // -moz-box-shadow: 0px 0px 3px 0px #666666;
  // box-shadow: 0px 0px 3px 0px #666666;
  font-family: Rubik;
  color: $lightgrey;
  cursor: pointer;
  font-size: 18px;
  height: 20px;
  border: 0;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  background-color: #FFFFFF;

}

.standard-delete-button:hover {
  // -webkit-box-shadow: 0px 0px 7px 0px #666666;
  // -moz-box-shadow: 0px 0px 7px 0px #666666;
  // box-shadow: 0px 0px 7px 0px #666666;
  text-shadow: 0px 1px 1px $lightgrey;
}

.standard-delete-button:focus {
  outline: none;
}

.todoList {

}

.todoListItem {
  margin: 1vw;
  padding: 10px 0 10px 0;
  cursor: pointer;
}

.todoListItemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todoListItemWrapper  .standard-delete-button {
  visibility: hidden;
}
.todoListItemWrapper:hover  .standard-delete-button {
  visibility: visible;
}

.todoTextDiv {
  font-family: 'Rubik';
  font-size: 15px;
  word-wrap: break-word;
}
